body {
  background-color: #c4609a;
  font-family: 'Comic Sans MS', cursive;
  text-align: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  cursor: none;
}

html {
  cursor: pointer;
  cursor: help;
  cursor: progress;

  cursor: url("catcursor.png"), auto
}
•	Cute background, hides cursor, centers text, prevents scrollbars
h1 {
  color: #ff80ab;
  margin-top: 10px;
}
#ball {
  position: absolute;
  width: 60px;
}
•	Absolute positioning allows movement anywhere with JS
#cat-cursor {
  position: absolute;
  pointer-events: auto;
  transform: translate(-50%, -50%);
  cursor:pointer;
}
